<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>557283515376-rau31tg8ttkinptrg4f42et6jv5lrbds.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.557283515376-rau31tg8ttkinptrg4f42et6jv5lrbds</string>
	<key>API_KEY</key>
	<string>AIzaSyCkL5gr60vm5RGYDv7niUxujC6pS5M37rU</string>
	<key>GCM_SENDER_ID</key>
	<string>557283515376</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.moldedbits.A-Lang</string>
	<key>PROJECT_ID</key>
	<string>a-lang-8927a</string>
	<key>STORAGE_BUCKET</key>
	<string>a-lang-8927a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:557283515376:ios:a2604e9e0a64c95f</string>
	<key>DATABASE_URL</key>
	<string>https://a-lang-8927a.firebaseio.com</string>
</dict>
</plist>